<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of Soldiers</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h3>List of Soldiers!</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="soldier : ${soldiers}">
        <td th:text="${soldier.id}">Id </td>
        <td th:text="${soldier.name}">Name </td>
    </tr>
</table>
</body>
</html>